@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,600;0,700;1,400&display=swap');

*, *::before, *::after {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   box-sizing: inherit;
}

body {
   font-family: "Source Sans Pro", sans-serif;
   box-sizing: inherit;
}

img {
   width: 100%;
}

.content-logo {
   display: flex;
   justify-content: start;
   align-items: center;
}

.logo {
   height: 56px;
   width: 56px;
   padding: .3rem;
   margin-right: 2rem;
   cursor: pointer;
}

.header-nav {
   display: none;
}

p {
   color: #212121;
   margin-top: 2rem;
}

p:nth-child(12) {
   margin-bottom: 5rem;
}


/* -*---*- HEADER -*---*- */
.main-header {
   max-width: 100vw;
   width: 100%;
   margin: auto;
   background-image: url(img/header-background.jpg);
   background-color: rgba(0,0,0,.3);
   background-blend-mode: overlay;
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;
   box-shadow: 0px 10px 8px rgba(0,0,0,.5),
               0px -10px 8px rgba(0,0,0,.5);
}

.main-header-container {
   width: 90%;
   margin: 1rem auto 1.5rem auto;
   height: 3.75rem;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.container-logo {
   height: 100%;
   flex: 0 0 20%;
   display: flex;
   justify-content: start;
   align-items: center;
}

.site-name {
   height: 100%;
   text-transform: uppercase;
   color: #fff;
   font-size: 1.8rem;
   font-weight: 300;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.main-nav {
   flex: 0 0 70%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

@media(max-width: 768px) {
   .main-nav {
      display: none;
   }
}

.nav-list {
   flex: 0 0 100%;
   height: 100%;
   list-style: none;
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.nav-item {
   height: 80%;
   margin: 0 .8rem;
   text-transform: uppercase;
   display: flex;
   justify-content: center;
   align-items: center;
}

.nav-link {
   text-decoration: none;
   color: #fff;
   height: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   border-bottom: 2px solid transparent;
   transition: border-bottom .35s ease-in-out;
}

.active {
   border-bottom: 2px solid #fff;
   font-weight: bold;
}

.nav-link:hover {
   color: yellow;
   border-bottom: 2px solid yellow;
}

.search {
   flex: 0 0 10%;
   height: 100%;
   color: #fff;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.icon-search:hover {
   color: yellow;
}

.main-header-description {
   width: 95%;
   margin: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   padding-bottom: 6rem;
}

@media(max-width: 480px) {
   .main-header-description {
      padding-bottom: 4rem;
   }
}

.main-header-description__title {
   flex: 0 0 60%;
   text-align: center;
   padding: 30px 56px;
   border: 2px solid #fff;
   font-family: 'Quicksand', sans-serif;
   font-size: 2.5rem;
   color: #fff;
}

@media(max-width: 480px) {
   .main-header-description__title {
      flex: 0 0 90%;
      padding: 20px 10px;
   }
}

.main-header-description__title h1 {
   font-weight: 300;
}

@media(max-width: 480px) {
   .main-header-description__title h1 {
      font-size: 47px;
   }
}



/* -*---*- MAIN -*---*- */
.main-content {
   max-width: 100vw;
   width: 80%;
   margin: 4rem auto;
   line-height: 1.5;
}




/*  

 Medidas de las Media Quieries!
   Escritorios muy grandes:
      @media (min-width: 1200px) { ... } 

   Tablets en horizonal y escritorios normales:
      @media (min-width: 768px) { ... }

   Móviles en Vertical:
      @media (max-width: 480px) { ... }

*/